{# templates/page/user.html.twig #}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <label for="profile">
        Profile Description
    </label>
    <span id="profile">{{ profile }}</span>

    <hr>
    <label for="website">
        Website Description
    </label>
    <span id="website">{{ website }}</span>

    <hr>
    <label for="orgs">
        Organisations
    </label>
    {% for org in orgs %}
        <span>{{ org['login'] }} : {{ org['description'] }}</span>
    {% endfor %}
    <hr>
    <label>
        Repos
    </label>
    <span>Total Number of repos: {{ repos['reposTotalNumber'] }}</span>
    {% for repoName,repo in repos['reposData'] %}
        <div class="row">
            <div class="col-4">
                Name: {{ repoName }}
            </div>
            <div class="col-4">
                URL: {{ repo['url'] }}
            </div>
            <div class="col-4">
                Languages:
                {% for language in repos['reposLanguageDetails'][repoName]|languageName %}
                    <span>{{ languageName }} : {{ language }} %</span>
                    <hr>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

</body>
</html>

